# aliases for ZSH and Bash
alias vi=vim
alias m=make
alias d=docker
alias fig=docker-compose
alias k=kubectl
alias g=git
alias trash="gio trash"

# making GNU commands more user-friendly, not Unix-friendly
# http://t-a-w.blogspot.com/2010/03/small-tips-for-making-unix-programming.html
alias rm='rm -i'
alias mv='mv -i'
alias cp='cp -i'
alias df='df -h'
alias du='du --block-size=M'

# https://unix.stackexchange.com/a/97922
gitclone() {
  git clone "$1" && cd "$(basename "$1" .git)"
}

# official way https://github.com/sharkdp/bat#via-docker
if [ ! -f "/usr/bin/bat" ]; then
  alias bat='docker run -it --rm -e BAT_THEME -e BAT_STYLE -e BAT_TABS -v "$(pwd):/myapp" danlynn/bat';
fi
